@use "@angular/material" as material;
@use '@angular/material-experimental' as matx;

@include material.core();

$angular-default-theme: matx.define-theme(
    (
      color: (
        theme-type: light,
        primary: matx.$m3-azure-palette,
        tertiary: matx.$m3-yellow-palette,
      )
    )
);

body {
  @include material.all-component-themes($angular-default-theme);
}

$angular-dark-theme: matx.define-theme(
    (
      color: (
        theme-type: dark,
        primary: matx.$m3-azure-palette,
        tertiary: matx.$m3-yellow-palette,
      ),
    )
);

body.dark-mode {
  @include material.all-component-colors($angular-dark-theme);
}
