@use "@angular/material" as material;

@include material.elevation-classes();
@include material.app-background();

$angular-default-theme: material.define-theme(
  (
    color: (
      theme-type: light,
      primary: material.$azure-palette,
      tertiary: material.$yellow-palette,
    ),
  )
);

body {
  @include material.all-component-themes($angular-default-theme);
}

$angular-dark-theme: material.define-theme(
  (
    color: (
      theme-type: dark,
      primary: material.$azure-palette,
      tertiary: material.$yellow-palette,
    ),
  )
);

body.dark-mode {
  @include material.all-component-colors($angular-dark-theme);
}
