@import "styles/reboot";
@import "styles/material";

html {
  overflow-y: scroll;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;

  mat-divider {
    width: 100%;
  }

  mat-card {
    --mdc-outlined-card-outline-color: transparent;
    --mdc-outlined-card-container-color: var(
      --mdc-filled-text-field-container-color
    );
    --mdc-elevated-card-container-color: var(
      --mdc-filled-text-field-container-color
    );
    --mat-card-subtitle-text-color: var(
      --mdc-filled-text-field-label-text-color
    );
  }
}
