@import "styles/reboot";
@import "styles/material";

html {
  overflow-y: scroll;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;

  mat-divider {
    width: 100%;
  }

  mat-card {
    --mat-card-outlined-outline-color: transparent;
    --mat-card-outlined-container-color: var(
      --mat-form-field-filled-container-color
    );
    --mat-card-elevated-container-color: var(
      --mat-form-field-filled-container-color
    );
    --mat-card-subtitle-text-color: var(
      --mat-form-field-filled-label-text-color
    );
  }

  // To fix https://github.com/angular/components/issues/25566
  .mat-mdc-tooltip-trigger {
    touch-action: auto !important;
  }
}
