<deals-toolbar-icon-button
  i18n-matTooltip
  matTooltip="Switch language"
  icon="language"
  [matMenuTriggerFor]="languageMenu"
/>
<mat-menu #languageMenu="matMenu">
  <a mat-menu-item href="/en-UK">
    <mat-icon>emoji_food_beverage</mat-icon>
    <span>English (UK)</span>
  </a>
  <a mat-menu-item href="/en-US">
    <mat-icon>history_edu</mat-icon>
    <span>English (US)</span>
  </a>
  <a mat-menu-item href="/nl">
    <mat-icon>water</mat-icon>
    <span>Nederlands</span>
  </a>
</mat-menu>
