<mat-toolbar>
  <a
    class="toolbar-brand"
    mat-button
    routerLink="/"
    color="primary"
    (mouseenter)="setHovering(true)"
    (mouseleave)="setHovering(false)"
  >
    <mat-icon>hexagon</mat-icon>
    {{ hovering ? alternateTitle : title }}
  </a>
  <span class="navbar-spacer"></span>
  <nav class="navbar-links">
    <deals-toolbar-link href="/" name="Home" />
    <deals-toolbar-link href="/faq" name="FAQ" />
    @if (isAdmin$ | async) {
      <deals-toolbar-link href="/admin" name="Admin" />
    }
  </nav>
  <span class="navbar-spacer"></span>
  <deals-toolbar-icon-button
    routerLink="/notifications"
    routerLinkActive="active"
    matTooltip="Go to notifications page"
  >
    <mat-icon
      [matBadgeHidden]="!notifications.length"
      aria-hidden="false"
      [matBadge]="notifications.length"
      [matBadgeSize]="'small'"
      matBadgeColor="accent"
    >
      notifications
    </mat-icon>
  </deals-toolbar-icon-button>
  <deals-toolbar-icon-button
    matTooltip="Toggle dark mode"
    [icon]="isDarkMode ? 'dark_mode' : 'light_mode'"
    (click)="toggleDarkMode()"
  />
  <deals-toolbar-language-switch />
  @if (isLoggedIn$ | async) {
    <deals-toolbar-icon-button
      matTooltip="Go to settings page"
      icon="settings"
      routerLink="/settings"
      routerLinkActive="active"
    />
  }
  <deals-toolbar-icon-button
    matTooltip="Go to account page"
    icon="person"
    routerLink="/login"
    routerLinkActive="active"
  />
</mat-toolbar>
