<mat-toolbar>
  <a class="toolbar-brand" mat-button routerLink="/" color="primary">
    <img id="app-icon" src="favicon.ico" alt="brand icon" />
    <span id="app-title">
      {{ title() }}
    </span>
  </a>
  <deals-spacer />
  <nav class="navbar-links">
    @for (route of routes$$(); track $index) {
      <deals-toolbar-link
        [href]="route.path"
        [name]="route.name"
        [exact]="route.path === '/'"
      />
    }
  </nav>
  <deals-spacer />
  <deals-toolbar-icon-button
    routerLink="/notifications"
    routerLinkActive="active"
    i18n-matTooltip
    matTooltip="Go to notifications page"
  >
    <mat-icon
      [matBadgeHidden]="!notifications.length"
      aria-hidden="false"
      [matBadge]="notifications.length"
      matBadgeSize="small"
      matBadgeColor="accent"
    >
      notifications
    </mat-icon>
  </deals-toolbar-icon-button>
  <deals-toolbar-icon-button
    i18n-matTooltip
    matTooltip="Toggle dark mode"
    [icon]="isDarkMode ? 'dark_mode' : 'light_mode'"
    (click)="toggleDarkMode()"
  />
  <deals-toolbar-language-switch />
  @if (isLoggedIn$ | async) {
    <deals-toolbar-icon-button
      id="settings-page-button"
      i18n-matTooltip
      matTooltip="Go to settings page"
      icon="settings"
      routerLink="/settings"
      routerLinkActive="active"
    />
  }
  <deals-toolbar-icon-button
    id="account-page-button"
    i18n-matTooltip
    matTooltip="Go to account page"
    icon="person"
    routerLink="/login"
    routerLinkActive="active"
  />
  <deals-toolbar-sidenav-button />
</mat-toolbar>
