<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>{{ productName }}</mat-card-title>
    <mat-card-subtitle i18n>
      Buy {{ dealQuantity }} to save
      <deals-price
        [amount]="productPrice * dealQuantity - dealPrice * dealQuantity"
      />
    </mat-card-subtitle>
    <img
      [ngSrc]="productImageUrl"
      [alt]="'Picture of ' + productName"
      width="200"
      height="200"
      [priority]="true"
    />
  </mat-card-header>
  <mat-card-content i18n>
    Buy {{ dealQuantity }} for:
    <deals-price-current [amount]="dealPrice * dealQuantity" />
    <deals-price-slashed [amount]="productPrice * dealQuantity" />
  </mat-card-content>
  <mat-card-actions>
    <deals-deal-problem-button
      [dealId]="dealId"
      i18n-matTooltip
      matTooltip="Report a problem"
    />
    <img
      class="shop-logo"
      [ngSrc]="'/assets/images/' + shopName + '.svg'"
      [alt]="'Logo of ' + shopName"
      width="125"
      height="48"
      [priority]="true"
    />
    <deals-spacer />
    <deals-toolbar-icon-button
      [icon]="broken$$() ? 'heart_broken' : 'favorite'"
      i18n-matTooltip
      matTooltip="Add to favorites"
      (click)="openDialog()"
    />
    <a
      [href]="productUrl"
      target="_blank"
      i18n-matTooltip
      matTooltip="Go to product page"
    >
      <deals-toolbar-icon-button icon="open_in_new" />
    </a>
  </mat-card-actions>
</mat-card>
