:host(deals-home) {
    //padding: 1em;

    .deals-container {
        display: flex;
        grid-gap: 1rem;
        flex-wrap: wrap;

        mat-card {
            //width: 45%;
            //max-width: 400px;
            //flex-grow: 1;
            //width: 0;

            img {
                height: 15rem;
                object-fit: contain;
                mix-blend-mode: multiply;
                filter: contrast(1);
            }
        }
    }
}
