@if (product$(); as product$) {
  @if (product$ | async; as result) {
    @if (result.loading) {
      <mat-spinner></mat-spinner>
    } @else if (!result.data.product) {
      <p i18n>No matching product found</p>
    } @else {
      <div class="product-container">
        <h1>{{ result.data.product.name }}</h1>

        <deals-deal-image
          [productImageUrl]="result.data.product.imageUrl"
          [productName]="result.data.product.name"
        />

        <div class="info-container">
          <p>Shop: {{ result.data.product.shop.name }}</p>
          <p>
            Price: <deals-price-current [amount]="result.data.product.price" />
          </p>
          <p>Last deal: {{ getLastDeal(result.data) }}</p>
        </div>
      </div>
    }
  }
}
