:host {
  display: block;
  margin: 1em;

  .product-container {
    display: grid;
    grid-template: "title title" auto "image info" auto / min-content auto;
    gap: 1em;

    @media only screen and (width <= 500px) {
      justify-items: center;
      grid-template: "title" min-content "image" auto "info" auto / auto;
    }

    h1 {
      grid-area: title;
      text-align: center;
    }

    .deals-deal-image {
      grid-area: image;
    }

    .info-container {
      grid-area: info;
      display: flex;
      flex-direction: column;
    }
  }
}
