@if (product(); as product) {
  @if (product.loading) {
    <mat-spinner></mat-spinner>
  } @else if (!product.data.product) {
    <p i18n>No matching product found</p>
  } @else {
    <div class="product-container">
      <h1>{{ product.data.product.name }}</h1>

      <deals-deal-image
        [productImageUrl]="product.data.product.imageUrl"
        [productName]="product.data.product.name"
      />

      <div class="info-container">
        <p>Shop: {{ product.data.product.shop.name }}</p>
        <p>
          Price: <deals-price-current [amount]="product.data.product.price" />
        </p>
        <p>Last deal: {{ getLastDeal(product.data) }}</p>

        @if (chartOptions(); as chartOptions) {
          <div echarts [options]="chartOptions"></div>
        }
      </div>
    </div>
  }
}
